@import '../../styles/mixins.scss';

.wishlist-container {
    margin: 105px 18px 10px 18px;
        
    .wishlist-main {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        gap: 20px;
        .left {
            display: flex;
            gap: 20px;
            .left-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 300px;
                width: 100%;
                .title {
                   
                }
                .desc {
                    font-size: 14px;
                    color: #5c5b5b;
                }
            }
        }   
        .right {

        }

    }

        //empty
    .top-wishlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
        background: #000;
        color: #FFF;
    }

    .empty-wishlist {
        display: flex;
        flex-direction: column;
        gap:20px ;
        align-items: center;
        justify-content: center;
        margin-top: 85px;

        .wishlistIcon {
            text-align: center;
            font-size: 92px;
            color: rgb(222, 241, 250);
            padding: 12px 0;
        }

        .wislist-text {
            max-width: 500px;
            width: 100%;
            text-align: center;
            padding: 8px 16px;
                
            
        }
    }
}