@import '../../styles/mixins.scss';

// .cart-section {
//     margin: 105px 18px 10px 18px;
//     .cart-main {
//         display: flex;
//         align-items: center;
//         gap: 10px;
//         border: 1px solid red;

//         .cart-content {
//             .cart-content-top {
//                 display: flex;
//                 // justify-content:;
//                 .title {
//                     font-size: 14px;
//                     color: gray;
//                     font-weight:500;
//                     max-width: 250px;

//                 }
//             }
//         }

       
//     }
// }

.cart-section {
    margin: 105px 18px 10px 18px;

    .cart-main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 15px;

            @include lg {
                flex-direction: row;
            }
        .cart-left {

        }

        .cart-right {
            .wrapper {
                border: 1px solid #CCC;
                padding: 11px 16px;
                    .subtotal, .coupon-section {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 30px 0;
                    }
                    .payment-image {
                        display: flex;
                        // img {
                        //     font-size: 20px;
                        // }
                        // width: 200px;
                    }
            }
        }

    }

    // empty cart

}