@import '../../styles/mixins.scss';

    .swiper-image {
        margin-top: 47px;
            width: 100%;
        @include md {
            margin-top: 45px;
            height: 591px;
            object-fit: cover;
            object-position: 0 0.5px;
        }
    }
    .swiper-btn, .image-title {
        position: absolute;
        top: 50%;
        left: 8%;
    }

        .image-title {
            font-size: 40px;
            color: #CCC;
            background-color: #000;
            padding: 20px 18px;
            transform: translate(14px, 20px);
            @include md {
                transform: translate(14px, 150px);
            }
        }

        .swiper-btn {
            transform: translate(14px, 82px);
                @include md {
                    transform: translate(14px, 211px);
                }
        }
