@import '../../styles//mixins.scss';
.header {
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
        @include lg {
            max-width: 100%;
        }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        margin: 0 18px;
        position: relative;
            @include lg {
                .nav-menu { 
                    margin: 0 55px;
                }

            @include xl {
                max-width: 1280px;
                width: 100%;
                margin: 0 auto;
            }
                .hamBurger-menu { 
                    .menu  {
                        display: none;

                    }
                }
            }
        
        .whislistIcon {
            display: none;
                @include lg {
                    display: block;
                    cursor: pointer;
                    font-size:25px ;
                }
        }

        .searchBox-Wrapper {
        
        .searchBox {
            display: flex;
            align-items: center;
            flex-direction: column;
            
            input {
                position: relative;
                // width: 502px;
                width: 175px;
                padding: 8px 17px;
                outline: none;
                @include md {
                    width: 270px;
                }
                @include lg {
                    width: 502px;
                }
            }
            .product {
                position: absolute;
                top: 39px;
                background-color: white;
                max-width: 175px;
                width: 100%;
                @include md {
                    max-width: 268px;
                }
                    @include lg {
                        max-width: 500px;
                    }

                .searchedProducts {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 10px;
                    padding-bottom: 30px;
                    padding-top: 8px;
                    cursor:pointer;
                        &:hover {
                            text-decoration: underline;
                            background: #fafafa;
                        }

                        .image {
                            display: none;
                                    @include lg { display: block}
                        }

                    .searched-title {
                        font-size: 12px;
                        font-weight: 400;
                        width: 100%;
                        max-width: 150px;
                            @include lg {
                                font-style: 15px;
                                max-width: 320px;
                            }
                    }
                    
                } 
            } // product end
    }
}

        .logo {
            font-size: 16px;
                @include lg {
                    font-size: 20px;
                    display: flex;
                    flex-grow:1 ;

                }
        }

        .hamBurger-menu {
            display: block;

            .menu {
                font-size: 30px;
                cursor: pointer;
            }
        }

        .login-register {
            display: none;
                @include lg {
                    display: block;
                    position: relative;
                    cursor: pointer;
                }
        }

        .cartIcon, .whislistIcon {
            position: relative;
            .icon {
                font-size: 25px;
                cursor: pointer;
            }
            .quantity {
                position: absolute;
                top: -8px;
                right: -12px;
                background: rgb(1, 167, 1);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 12px;
                text-align: center;
                color: #FFF;
                padding: auto;
            }
        }
    }
            .bottom-nav-menu{
                display: none;
                margin-top: 8px;
                color: #FFF;
                font-size: 14px;
                    @include lg {
                        display: block;
                    }
            }
    }
