@import '../../styles/mixins.scss';

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 0 auto;
    padding-top: 50px ;
    padding: 25px 10px 0 10px;
        p {
        color: rgb(124, 124, 124);
        font-weight: 400;
        }
            @include md {
                padding-top: 0px;

            }
}