@import '../../styles/mixins.scss';

footer {
    margin: 70px 18px 10px 18px;
    // border: 1px solid red;
    padding-top: 50px ;
        @include md {
            padding-top: 0;
        }
     p{
        color: rgb(124, 124, 124);
        font-weight: 400;
     }
}