@import '../../styles/mixins.scss';

footer {
    // margin: 70px 18px 10px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 0 auto;
    padding-top: 50px ;
    margin-top: 60px;
    padding: 25px 10px 0 10px;
        @include md {
            padding-top: 0px;
        }
     p{
        color: rgb(124, 124, 124);
        font-weight: 400;
     }
}